<!DOCTYPE HTML>
<html>

<head>
	
	<!--<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" / -->
	
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<link rel="stylesheet" type="text/css" href="styles.css">
	<!--<link rel="stylesheet" type="text/css" href = "bootstrap.css">-->
</head>

<body>

	<div id="page">
		
		<div id="header-container">
			<div id="headerTop">
					
			</div>
		</div>
				<div id="content">

					<div id="col-1" class="linkColumn">
						
					</div>
					<div id="col-2" class="linkColumn">
						
					</div>
					<div id="col-3" class="linkColumn">
						
					</div>
					<div id="col-4" class="linkColumn">
						
					</div>	

				</div>

	</div>

</body>


<script src = "bower_components/jquery/dist/jquery.min.js"></script>
<script src = "app.js"></script>
<script src = "reddApp.js"></script>

</html>