{% extends "layout.html" %}

{% block form %}
<form action="/write" method="POST">
    <input type="text" placeholder="Enter subject" name="userinput" id="userinput">
    <input type="submit" value="Submit">
</form>
{% endblock %}

{% block main_content %}
<em>Our Mission</em>
<p>We set out with a goal to use Natural Language Processing(NLP) to find connections between a Topics with a common base idea. In our case we were looking at Computer Science and from there attempting to find ideas connected to our subject.</p>
<em>Our Method</em>
<p> add stuff?</p>
{% endblock %}

