{% extends "layout.html" %}

{% block form %}
		<div class = "form">
			<div id="search">
			<form action="javascript:void(0);" method="GET">
				<fieldset class="clearfix">
					<input type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' "> 
					<input type="submit" value="Search" class="button">
				</fieldset>
			</form>
			</div>
{% endblock %}

{% block main_content %}
{% if searched %}
<p>You searched for {{ query_name }}. Here are the results:</p>
<table>
    <thead>Comparison Table</thead>
    <tr><td>Search Term</td><td>Score</td></tr>
    {% for item in results %}
    <tr><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
    {% endfor %}
</table>
{% else %}
<em>Our Mission</em>
<p>We set out with a goal to use Natural Language Processing(NLP) to find connections between a Topics with a common base idea. In our case we were looking at Computer Science and from there attempting to find ideas connected to our subject.</p>
<em>Our Method</em>
<p> add stuff?</p>
{% endblock %}

