{% extends "layout.html" %}

{% block form %}
		<div class = "form">
			<div id="search">
			<form action="/search" method="post">
				<fieldset class="clearfix">
					<input type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' ">
					<input type="submit" value="Search" class="button">
				</fieldset>
			</form>
			</div>
		</div>
{% endblock %}

{% block main_content %}
{% if searched == True %}
<table class="searchResults">
	<thead>
	<tr>
		<th class="leftcol">{{ query_name }}</th>
		<th class="rightcol">Score</th>
	</tr>
	</thead>
	<tbody>
    {% for item in results %}
	<tr>
		<td class="leftcol">{{ item[0] }}</td>
		<td class="rightcol">{{ item[1] }}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<br>
<div class="mission">
<em>Our Mission</em>
<p>We set out with a goal to use <a href="https://en.wikipedia.org/wiki/Natural_language_processing">Natural Language Processing (NLP)</a> to find connections between various topics and a training set. In our case, we used <a href = "https://en.wikipedia.org/wiki/Latent_semantic_indexing">Latent Symantic Indexing (LSA)</a> to train a Python module called Gensim to understand it means for a word to be a "software engineering" term. Then, we took in user-provided terms through a search feature, and used our model to identify the top 10 software engineering topics most related to that term.</p>
<em>Why</em>
<p>Software engineering is an enormous field that uses quite a bit of jargon. The goal of this application was to allow anyone to find the top similarities between any term that they searched, and the topics in our database of software engineering terms.</p>
<em>The How</em>
<p>We used a Python web crawler, combined with the Wikipedia API to compile an enormous list of Wikipedia pages related to software engineering. Then, we stored these pages in a Mongo Database. After we were able to store these articles, we fed them to the <a href = "https://radimrehurek.com/gensim/">Gensim Python module</a>, which "tokenized" the data from the articles, turning the data into a series of vector relations, and creating an LSA model of the data. From there, we took user input through the search bar, and used the LSA model to provide the user with the top 10 software engineering topics related to their search query.</p>
<em>Technology Used:</em>
<ul>
<li><a href = "https://radimrehurek.com/gensim/">Gensim (Python Module)</a> - Easy topic modelling engine</li>
<li><a href = "https://pypi.python.org/pypi/wikipedia/">Wikipedia API (Python Module)</a> - Retrive and compile article information</li>
<li>Web Crawler (Homegrown) - Crawl Wikipedia to build initial list of software engineering terms for our training set</li>
<li><a href = "https://www.mongodb.com">MongoDB (Database)</a> - Stored our training set</li>
<li><a href = "http://flask.pocoo.org/">Flask (Python Module)</a> - Lightweight MVC module for Python</li>
</div>
{% endif %}
{% endblock %}
