<!DOCTYPE html>
<html>
<head>
	<title>DCC NLP</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

	<header>
		<div class="container">
        <h1 class ="logo">devCodeCamp</h1>
        	<strong><nav>
				<ul class="menu">
					<li><a href="index">Home</a></li>
					<li><a href="training-set">Training Set</a></li>
					<li><a href="quote">Quote</a></li>
				</ul>
			</nav></strong>
		</div>
	</header>
    
	<div class = "jumbo">
		<h2>team rocketThunder:</h2>
		<h3>Natural Language Processing Project</h3>
	</div>
	
	<div class = "form container">
    {% block form %}
    {% endblock %}
	</div>

	<div class = "main-content">
    {% block main_content %}
	{% endblock %}
	</div>
    
</body>
</html>
